<!-- Display ecocase$ by id -->
<br>
<div class="container" *ngIf="ecocase">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <input class="title-input" type="text" id="titleInput" name="titleInput"
               *ngIf="isEdit" [(ngModel)]="ecocase.title"
               required #nameInput="ngModel"/>
        <h4 class="displayValue" *ngIf="!isEdit">{{ecocase.title}}</h4>
      </div>
      <div class="panel-body">
        <div class="row top-buffer">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Visualisation</div>
              <div class="panel-body visualization-panel">
                <div class="list-inline">
                  <div *ngFor="let image_url of ecocase.image_urls" class="center-block">
                    <img src="{{ image_url }}" class='inline-image' alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 characters-area">
            <div class="panel panel-default">
              <div class="panel-heading">Promesse</div>
              <div class="panel-body promise-panel">
                <textarea class="promise-textarea" id="promiseInput" name="Input"
                          *ngIf="isEdit" [(ngModel)]="ecocase.promise"
                          required #nameInput="ngModel">
                </textarea>
                <span *ngIf="!isEdit">{{ ecocase.promise | htmlToPlaintext }}</span>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Description</div>
              <div class="panel-body description-panel">
                <textarea class="description-textarea" id="descriptionInput" name="Input"
                          *ngIf="isEdit" [(ngModel)]="ecocase.description"
                          required #nameInput="ngModel">
                </textarea>
                <span *ngIf="!isEdit">{{ ecocase.description | htmlToPlaintext }}</span>
              </div>
            </div>
          </div>
          <button mat-raised-button color='primary' *ngIf="isEdit" class="pull-right" (click)="cancelEdit()">Cancel</button>
          <button mat-raised-button color='accent' class="pull-right"
                  *ngIf="isEdit" class="pull-right"
                  (click)="updateEcocase(ecocase)"
                  [disabled]="(previousEcocase.title == ecocase.title) && (previousEcocase.promise == ecocase.promise) && (previousEcocase.description == ecocase.description)">Save
          </button>
          <button mat-raised-button color='warn' class="pull-right" *ngIf="!isEdit" (click)="deleteEcocase(ecocase)">Delete</button>
          <button mat-raised-button color='primary' class="pull-right" *ngIf="!isEdit" (click)="editEcocase()">Edit</button>
        </div>

        <div class="row">
          <app-associated-esms [esmevaluations]="esmevaluations" [nonESM]="nonESM" [ecocaseId]="ecocaseId" [username]="username"></app-associated-esms>
        </div>
        <hr>
        <div class="row" *ngIf="(ecocase.first_esm !== null) || (ecocase.second_esm !== null)">
          <div class="col-md-6 evaluation-div">
            <div class="panel panel-default">
              <div class="panel-heading">Premier mécanisme le plus adapté en cours</div>
              <div class="panel-body associated-esms-panel">
                <ul *ngIf="ecocase.first_esm !== undefined">
                  <li>{{ecocase.first_esm.title}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 evaluation-div">
            <div class="panel panel-default">
              <div class="panel-heading">Second mécanisme le plus adapté en cours</div>
              <div class="panel-body associated-esms-panel">
                <ul *ngIf="ecocase.second_esm !== null">
                  <li>{{ecocase.second_esm.title}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--<div class="panel panel-default">
    <div class="panel-heading pull-right">
      <a href="{% url 'ecocases:upload_image' (ecocase$ | async).id %}">Upload more images?</a>
    </div>
  </div>-->
  <div class="panel panel-default">
    <app-ecocase-comments [ecocaseId]="ecocaseId" width="200"></app-ecocase-comments>
  </div>
</div>
