<div fxLayout="row" fxLayoutAlign="center">
  <div class="cont" fxFlex="100">
    <div class="alert error" *ngIf="formError">
      <strong>There was an error</strong> during form submission
    </div>

    <form action="" [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
      <mat-form-field class="fw block">
        <mat-icon class="input-icon loading" *ngIf="registerForm.controls.username.pending"><i class="fa fa-circle-o-notch fa-spin"></i></mat-icon>
        <mat-icon class="input-icon valid" *ngIf="registerForm.controls.username.valid"><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
        <mat-icon class="input-icon invalid" *ngIf="registerForm.controls.username.errors?.isNotUnique"><i class="fa fa-times" aria-hidden="true"></i></mat-icon>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="registerForm.controls.username.errors?.isNotUnique">This username is already taken</mat-error>
      </mat-form-field>

      <mat-form-field class="fw block">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="registerForm.controls.email.errors?.emailInvalid">Email is not valid</mat-error>
      </mat-form-field>

      <app-password-form [sourceForm]="registerForm"></app-password-form>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="50">
          <button mat-raised-button type="submit" [disabled]="!registerForm.valid || formLoading">
            <i *ngIf="formLoading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
