<div class="panel panel-default">
  <div class="panel-heading">Mécanismes associés</div>
  <div class="panel-body">
    <div *ngFor="let esmevaluation of esmevaluations; let idx = index">
      <div id="accordion">
        <div class="card">
          <div class="card-header outer-div" id="heading{{idx}}">
            <div class="inner-div">
              <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{idx}}" aria-expanded="true" attr.aria-controls="collapse{{idx}}">
                {{ esmevaluation.esm.title}}
              </button>
            </div>
          </div>

          <div id="collapse{{idx}}" class="collapse" attr.aria-labelledby="heading{{idx}}" data-parent="#accordion">
            <div class="panel panel-default">
              <div class="panel-heading">{{ esmevaluation.question.title }}</div>
              <div class="panel-body">
                <div class="form-group">
                  <textarea class="form-control" [(ngModel)]="esmevaluation.answer" placeholder="{{esmevaluation.answer}}"></textarea>
                  <div ng-bind-html="esmevaluation.answer"></div>
                </div>
              </div>
              <!--<form>
                <div class="form-check form-check-inline inner-div-right">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{idx}}_2"
                         [checked]="esmevaluation.is_second_esm == true"
                         [value]="esmevaluation.is_second_esm"
                         (change)="onSelectionSecondESM(esmevaluation, esmevaluations)">
                  <label class="form-check-label" for="inlineRadio{{idx}}_2">2nd mécanisme</label>
                </div>
                <div class="form-check form-check-inline inner-div-right">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{idx}}_1"
                         [checked]="esmevaluation.is_first_esm == true"
                         [value]="esmevaluation.is_first_name"
                         (change)="onSelectionFirstESM(esmevaluation, esmevaluations)">
                  <label class="form-check-label" for="inlineRadio{{idx}}_1">1er mécanisme</label>
                </div>
              </form>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 evaluation-div">
        <div class="panel panel-default">
          Premier mécanisme le plus associé
          <div class="panel-body">
            <select [(ngModel)]="firstESM.title" (ngModelChange)="nonESM.isNonESM = false">
              <option *ngFor="let esmevaluation of esmevaluations" [ngValue]="esmevaluation.esm.title" [disabled]="esmevaluation.esm.title === secondESM.title">{{esmevaluation.esm.title}}</option>
            </select>
            <br>
            <i>Mécanisme sélectionné:</i> {{firstESM.title}}
          </div>
        </div>
      </div>
      <div class="col-md-6 evaluation-div">
        <div class="panel panel-default">
          Second mécanisme le plus adapté
          <div class="panel-body">
            <select [(ngModel)]="secondESM.title" (ngModelChange)="onSelectionSecondESM()">
              <option *ngFor="let esmevaluation of esmevaluations" [ngValue]="esmevaluation.esm.title" [disabled]="esmevaluation.esm.title === firstESM.title">{{esmevaluation.esm.title}}</option>
            </select>
            <br>
            <i>Mécanisme sélectionné:</i> {{secondESM.title}}
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox" [checked]="nonESM" [(ngModel)]="nonESM.isNonESM" (change)="clickNonESM(nonESM)"/> Non mécanismes associés
    <div class="panel-body">
      <textarea class="form-control" [(ngModel)]="nonESM.argumentation" placeholder="{{nonESM.argumentation}}" *ngIf="nonESM.isNonESM"></textarea>
    </div>
    <button mat-raised-button color='primary' class="pull-right" (click)="submitEsmevaluations(esmevaluations, ecocaseId, nonESM)">Submit</button>
  </div>
</div>

<div class="panel panel-default" *ngIf="username == 'admin'">
  <div class="panel-heading">Sommaire</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 evaluation-div">Mécanisme</div>
      <div class="col-md-3 evaluation-div">Taggé comme 1er mécanisme</div>
      <div class="col-md-3 evaluation-div">Taggé as 2nd mecanisme</div>
    </div>
    <div class="row" *ngFor="let associatedESM of associatedESMs">
      <div class="col-md-6 evaluation-div">
        {{associatedESM.title}}
      </div>
      <div class="col-md-3 evaluation-div">
        par {{associatedESM.first_esm_count}} évaluateurs
      </div>
      <div class="col-md-3 evaluation-div">
        par {{associatedESM.second_esm_count}} évaluateurs
      </div>
    </div>
  </div>
</div>
