<div class="panel panel-default">
  <div class="panel-heading">
    Mécanismes associés
  </div>
  <div class="panel-body">
    <div class="instruction-text">
      <i class="instruction-text">Chaque mécanisme est associé à une question. Cliquer sur un mécanisme pour la consulter et y répondre.</i><br>
    </div>

    <div *ngFor="let esmevaluation of esmevaluations; let idx = index">
      <div id="accordion">
        <div class="card">
          <a data-toggle="collapse" attr.data-target="#collapse{{idx}}" aria-expanded="true" attr.aria-controls="collapse{{idx}}">
            {{ esmevaluation.esm.title}}
          </a>
          <div id="collapse{{idx}}" class="collapse" attr.aria-labelledby="heading{{idx}}" data-parent="#accordion">
            <div class="panel panel-default">
              <div class="panel-heading">{{ esmevaluation.question.title }}</div>
              <div class="panel-body">
                <div class="form-group">
                  <textarea class="form-control" [(ngModel)]="esmevaluation.answer" placeholder="{{esmevaluation.answer}}"></textarea>
                  <div ng-bind-html="esmevaluation.answer"></div>
                </div>
              </div>
              <!--<form>
                <div class="form-check form-check-inline inner-div-right">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{idx}}_2"
                         [checked]="esmevaluation.is_second_esm == true"
                         [value]="esmevaluation.is_second_esm"
                         (change)="onSelectionSecondESM(esmevaluation, esmevaluations)">
                  <label class="form-check-label" for="inlineRadio{{idx}}_2">2nd mécanisme</label>
                </div>
                <div class="form-check form-check-inline inner-div-right">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{idx}}_1"
                         [checked]="esmevaluation.is_first_esm == true"
                         [value]="esmevaluation.is_first_name"
                         (change)="onSelectionFirstESM(esmevaluation, esmevaluations)">
                  <label class="form-check-label" for="inlineRadio{{idx}}_1">1er mécanisme</label>
                </div>
              </form>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 evaluation-div">
        <div class="panel panel-default">
          Premier mécanisme le plus adapté
          <div class="panel-body">
            <select [(ngModel)]="firstESM.title" (ngModelChange)="nonESM.isNonESM = false">
              <option *ngFor="let esmevaluation of esmevaluations" [ngValue]="esmevaluation.esm.title" [disabled]="esmevaluation.esm.title === secondESM.title">{{esmevaluation.esm.title}}</option>
            </select>
            <br>
            <i>Mécanisme sélectionné:</i> {{firstESM.title}}
          </div>
        </div>
      </div>
      <div class="col-md-6 evaluation-div">
        <div class="panel panel-default">
          Second mécanisme le plus adapté
          <div class="panel-body">
            <select [(ngModel)]="secondESM.title" (ngModelChange)="onSelectionSecondESM()">
              <option *ngFor="let esmevaluation of esmevaluations" [ngValue]="esmevaluation.esm.title" [disabled]="esmevaluation.esm.title === firstESM.title">{{esmevaluation.esm.title}}</option>
            </select>
            <br>
            <i>Mécanisme sélectionné:</i> {{secondESM.title}}
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox" [checked]="nonESM" [(ngModel)]="nonESM.isNonESM" (change)="clickNonESM(nonESM)"/> Aucun mécanisme associé
    <div class="panel-body">
      <textarea class="form-control" [(ngModel)]="nonESM.argumentation" placeholder="{{nonESM.argumentation}}" *ngIf="nonESM.isNonESM"></textarea>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel panel-heading">
    Caractérisation du statut d'éco-innovation
  </div>
  <div class="panel panel-body">
    <div class="row">
      <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Gain environnemental</div>
        <div class="panel-body ecoinnovation-status-panel-body">
          <div *ngFor="let item of environGains">
            <form action="">
              <input type="radio" name="radiogroup"
                     [checked]="item.level == selectedEnvironGain"
                     [value]="item.level"
                     (change)="environGainChange(item)"> {{item.level}}
            </form>
          </div>
          <textarea class="form-control comment-box" [(ngModel)]="environGainEval.comment" placeholder="Ajouter un commentaire"></textarea>
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Potentiel d'effet de masse de l'éco-innovation</div>
          <div class="panel-body ecoinnovation-status-panel-body">
            <div class="instruction-text">
              <i>Cliquer sur une ligne d'option pour ajouter des commentaires</i><br>
            </div>
            <div *ngFor="let item of ecoEffectPotentialEvals; let idx=index;">
              <input type="checkbox" name="checkboxgroup"
                     [checked]="item.selected"
                     [(ngModel)]="item.selected"
                     (change)="ecoEffectPotentialChange(item)">
              <a data-toggle="collapse" attr.data-target="#eepEval{{idx}}" aria-expanded="true" attr.aria-controls="eepEval{{idx}}">
                {{item.eco_effect_potential.title}}
              </a>
              <div class="collapse" id="eepEval{{idx}}">
                <div class="card card-body">
                  <textarea class="form-control comment-box" [(ngModel)]="item.comment" placeholder="Ajouter un commentaire"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div *ngFor="let item of ecoinnovationStatuss;">
          <form action="">
            <input type="radio" name="radiogroup"
                   [checked]="item.title == selectedEcoinnovationStatus"
                   [value]="item.title"
                   (change)="ecoinnovationStatusChange(item)"> {{item.title}}
          </form>
        </div>
        <textarea class="form-control comment-box" [(ngModel)]="ecoinnovationStatusEval.comment" placeholder="Ajouter un commentaire"></textarea>
      </div>
    </div>

    <button mat-raised-button color='primary' class="pull-right" (click)="submitEsmevaluations()">Soumettre</button>
  </div>
</div>

<div class="panel panel-default" *ngIf="username == 'admin'">
  <div class="panel-heading">Sommaire</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 evaluation-div">Mécanisme</div>
      <div class="col-md-3 evaluation-div">Taggé comme 1er mécanisme</div>
      <div class="col-md-3 evaluation-div">Taggé as 2nd mécanisme</div>
    </div>
    <div class="row" *ngFor="let associatedESM of associatedESMs">
      <div class="col-md-6 evaluation-div">
        {{associatedESM.title}}
      </div>
      <div class="col-md-3 evaluation-div">
        par {{associatedESM.first_esm_count}} évaluateurs
      </div>
      <div class="col-md-3 evaluation-div">
        par {{associatedESM.second_esm_count}} évaluateurs
      </div>
    </div>
  </div>
</div>
