@import '../../../../scss/variables.scss';
@import '../../../../scss/styles.scss';

.inner-div {
  margin: 0 auto;
  width: 100px;
  display:inline-block;
}

.inner-div-right {
  margin: 0 auto;
  width: 100px;
  float: right;
  display:inline-block;
}

.ecoinnovation-status-panel-body {
  height: 120px;
  overflow-y: scroll;
}

.comment-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.instruction-text {
  margin-bottom: 10px;
}

.test {
  background-color: #00B0CC;
}

select {
  color: black !important; // color of the selected option
}

select option {
  color: black !important; // color of all the other options
}

textarea::placeholder {
  color: #7c8896;
  opacity: 0.9;
}
