.logo-esm {
  vertical-align: middle;
  height: 20px;
}
.esm_img {
  height: 70vh;
}

.panel-default > .panel-heading-esm1 {
  background: #FFC001; color: #fff;
}

.panel-default > .panel-heading-esm2 {
  background: #FF66CC; color: #fff;
}

.panel-default > .panel-heading-esm3 {
  background: #92D050; color: #fff;
}

.panel-default > .panel-heading-esm4 {
  background: #00B0CC; color: #fff;
}

.panel-default > .panel-heading-esm5 {
  background: #C00000; color: #fff;
}

.panel-default > .panel-heading-esm6 {
  background: #E46C0A; color: #fff;
}

.panel-default > .panel-heading-esm7 {
  background: #7030A0; color: #fff;
}

img.displayed {
  display: block;
  margin: auto;
  margin: auto
}
