<div class="panel panel-default">
  <div class="panel-heading">
    Cas d'innovation
  </div>
  <div class="panel-body">
    <div class="col col-sm-4">
      <div class="ecocase-list">
        <ul class="nav nav-pills nav-stacked">
          <li *ngFor="let ecocase of ecocases; let idx = index">
            <a data-toggle="pill" href="#ecocase{{idx}}">
              <span (click)="clickEcocase(ecocase)">{{ ecocase.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col col-sm-8">
      <div style="height: 50vh; bottom: 0px;" id="ecocaseESMsGraph">
        <div id="d3ecocaseESMsGraph"></div>
      </div>
    </div>
  </div>
</div>
