<!--
<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-md="25">
  </div>
  <div fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="75">

  </div>
</div>
-->

<div class="panel panel-default">
  <div class="panel-heading">Cas à tagger</div>
  <div class="panel-body untagged-cases-panel-body">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="10px">
      <mat-card
        fxFlex="100"
        fxFlex.gt-xs="22"
        fxFlex.gt-md="15"
        class="ecocase-card"
        *ngFor="let ecocase of ecocases">
        <div class="img-wrap">
          <div class="image-container">
            <img mat-card-image [src]="ecocase.image_urls[0]" (click)="getEcocaseDetails(ecocase)" class="representive-ecocase-image">
          </div>
        </div>
        <mat-card-content>
          <h4 mat-raised-button class="fw" (click)="getEcocaseDetails(ecocase)">{{ ecocase.title | truncate:[30, '...'] }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
