<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      BIENVENU A LA PLATEFORME ALIENNOR
    </div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">Objectif</div>
        <div class="panel-body">
          L’objectif général de ce projet est de développer une méthode permettant d’accompagner les entreprises dans leur processus d’innovation, avec pour finalité la mise sur le marché de produits ou services à fortes ambitions environnementales et sociétales. La méthode ALIENNOR permet de guider l’entreprise par des outils adaptés sur l'ensemble du processus amont d’innovation, jusqu’à la caractérisation exhaustive d’un concept éco-innovant mature. Ainsi, la méthode proposée dans ce programme de recherche se veut systématiquement applicable, et doit permettre d’aboutir à des éco-innovations matures, en agissant à trois niveaux :
            <ul>
              <li>La phase de génération d’idées, avec une boîte à outils de mécanismes de stimulation permettant d’aider les acteurs à envisager les futurs possibles.</li>
              <li>L'évaluation des éco-innovations, notamment en aidant au choix des concepts les plus prometteurs selon plusieurs indicateurs pertinents dans ce contexte (performance technique, soutenabilité du modèle d'affaires associé ; pertinence environnementale sur une durée prolongée ; solidité du réseau de parties prenantes).</li>
              <li>La coordination des phases de génération d’idées et d’évaluation des concepts : il s’agit de formaliser le processus d'éco-innovation, et de l’illustrer grâce à un répertoire de cas d'éco-innovations.</li>
            </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">5 Workpackage</div>
        <div class="panel-body">
          <ul>
            <li>WP01: analyse des contradictions sur une base de cas d’éco-innovation.</li>
            <li>WP02: développement d’un jeu de mécanismes de stimulation pour l’éco-idéation (MSE) exhaustif et facilement actionnable par les entreprises.</li>
            <li>WP03: formalisation d’une grille de choix des MSE utilisable par cas.</li>
            <li>WP04: développement et évaluation des idées</li>
            <li>WP05: développement de la plateforme ALIENNOR</li>
          </ul>
        </div>
      </div>
      <!--<div class="pull-right">-->
        <!--<a href="{% url 'ecocases:aliennor' %}"> ALIENNOR approach </a>-->
      <!--</div>-->
    </div>
  </div>
</div>
